In [2]:
import pandas as pd

# Load the dataset (adjust the path as needed)
df = pd.read_csv('./synthetic_full_datasetlakh.csv')

# Display first few rows to see an overview of the data
print(df.head())

                    timestamp       service  \
0  2025-04-10T23:54:00.869779       Payment
1  2025-04-10T23:54:12.869779  Notification
2  2025-04-10T23:54:18.869779          User
3  2025-04-10T23:54:31.869779  Notification
4  2025-04-10T23:54:32.869779       Payment

                                       endpoint http_method  http_status  \
0                /api/payments/<transaction_id>         GET          404
1     /api/notifications/<notification_id>/read       PATCH          200
2                   /api/users/<user_id>/update       PATCH          500
3                       /api/notifications/send        POST          503
4  /api/payments/<transaction_id>/update_status       PATCH          500

   response_time_ms  error_flag  environment  \
0            194.70        True  multi-cloud
1             91.19       False  on-premises
2            173.99        True  multi-cloud
3            105.42        True        cloud
4            177.85        True  on-premises

                             request_id                              trace_id  \
0  29a35e3b-86e0-424f-98bb-90fc229f3312  a72e8c91-69bd-415b-a222-3920e3e73b41
1  e4c37747-f293-4e7b-985d-5f86f83b14bb  f8ee7945-1f73-466c-9d79-4a327d8a7286
2  72cf0c48-e0a8-4099-a6ee-038341e6d675  d86e2eed-a4aa-42ac-b4ec-721fbc1edab6
3  2a7ff424-bc50-4769-b49d-e15df26c18e2  2b0253a3-f595-415b-bcde-410dbdd81c03
4  6c2fa043-cb3a-402a-aeac-6b224e8ec86d  56500bf2-ef26-45a2-8fb7-28331dd65143

                                span_id  payload_size_bytes  \
0  ea088524-f6c7-45e0-af51-fb5462d49867                1128
1  83435117-f2ab-4918-b272-f84f3fc78749                4640
2  a14cfe96-64da-4b2b-9ec2-bdba3b5f6c1f                 794
3  18925a0f-0eda-4832-9dce-ebf8448db195                 771
4  f8a34083-bea2-4051-9710-a964312c77a2                2125

   cpu_usage_percent  memory_usage_mb log_level               error_message  \
0              42.24           155.94     ERROR               Timeout error
1              44.69           415.76      INFO                         NaN
2              27.49           106.53      WARN               Timeout error
3              88.54            53.09      WARN  Database connection failed
4              81.79           258.45      WARN               Timeout error

          Browser Operating System
0    Edge 100.9.0     Windows 14.1
1    Opera 81.6.6     Windows 10.8
2   Chrome 75.5.1     Android 13.6
3  Firefox 86.7.7       Linux 12.0
4     Edge 96.8.3     Windows 13.9

In [3]:
# Display DataFrame information and check data types
print(df.info())

# Check for missing values in each column
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   timestamp           10000 non-null  object
 1   service             10000 non-null  object
 2   endpoint            10000 non-null  object
 3   http_method         10000 non-null  object
 4   http_status         10000 non-null  int64
 5   response_time_ms    10000 non-null  float64
 6   error_flag          10000 non-null  bool
 7   environment         10000 non-null  object
 8   request_id          10000 non-null  object
 9   trace_id            10000 non-null  object
 10  span_id             10000 non-null  object
 11  payload_size_bytes  10000 non-null  int64
 12  cpu_usage_percent   10000 non-null  float64
 13  memory_usage_mb     10000 non-null  float64
 14  log_level           10000 non-null  object
 15  error_message       6126 non-null   object
 16  Browser             10000 non-null  object
 17  Operating System    10000 non-null  object
dtypes: bool(1), float64(3), int64(2), object(12)
memory usage: 1.3+ MB
None
timestamp                0
service                  0
endpoint                 0
http_method              0
http_status              0
response_time_ms         0
error_flag               0
environment              0
request_id               0
trace_id                 0
span_id                  0
payload_size_bytes       0
cpu_usage_percent        0
memory_usage_mb          0
log_level                0
error_message         3874
Browser                  0
Operating System         0
dtype: int64

In [5]:
# Example: Look at unique values in a 'status' or 'status_code' column:
if 'status' in df.columns:
    print(df['status'].unique())

if 'status_code' in df.columns:
    print(df['status_code'].unique())